.taskItem {
    padding: 0.35rem 0;
}

.taskItemBox {
    width: 100%;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskCheckBox {
    padding: 1rem 1rem;
    display: flex;
}

.taskCheckBox img {
    cursor: pointer;
    width: 56px;
    height: 56px;
}

.text {
    padding: 1.2rem 0;
    color: var(--gray-100);
    font-size: 0.875rem;
    font-weight: regular;
    text-align: start;
}

.textDone {
    padding: 1.2rem 0;
    color: var(--gray-300);
    font-size: 0.875rem;
    font-weight: regular;
    text-align: center;
    text-decoration: line-through;
}

.taskItemBox button {
    padding: 1rem 1rem;
    background: transparent;
    border: 0;
    color: var(--gray-300);
    line-height: 0;
    border-radius: 2px;
}

.taskItemBox button svg:hover {
    color: var(--danger);
    cursor: pointer;
}
